@charset "utf-8";
@import'./mixin/box';
//版心部分
.main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    .title {
        width: 100%;
        height: 62px;
        @include row(space-between);
        .box {
            width: 300px;
            @include row(space-between);
            div:nth-child(1) {
                width: 4px;
                height: 22px;
                background: #f70800;
                margin-left: 7px;
            }
            div:nth-child(2) {
                color: #f70800;
                font-size: 26px;
                font-weight: 900;
            }
            div:nth-child(3) {
                font-size: 24px;
                font-weight: 900;
            }
            div:nth-child(4) {
                color: #666;
                margin-top: 6px;
            }
        }
        a {
            width: 116px;
            height: 34px;
            background: url(../images/节目表.png) no-repeat;
        }
    }
    //直播节目表
    .show {
        width: 100%;
        height: 318px;
        padding: 19px;
        background: #fff;
        border: 1px solid #ddd;
        ul {
            width: 960px;
            height: 278px;
            overflow: hidden;
            li {
                width: 318px;
                height: 453px;
                border-left: 1px solid #ddd;
                margin-left: -1px;
                padding: 0 10px;
                float: left;
            }
            div {
                width: 318px;
                height: 453px;
                margin-left: -1px;
                img {
                    width: 300px;
                    height: 160px;
                }
                .title {
                    width: 298px;
                    height: 52px;
                    padding: 0 10px;
                    margin-top: 18px;
                    color: #222;
                }
                .small_title {
                    width: 150px;
                    height: 16px;
                    color: #f70800;
                    font-size: 12px;
                    margin-top: 5px;
                    padding: 0 10px;
                    line-height: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .pri {
                width: 298px;
                height: 29px;
                padding: 0 10px 3px 10px;
                font-size: 12px;
                @include row(space-between);
                margin-top: 15px;
            }
            .price {
                font-size: 26px;
                margin-right: 10px;
                color: #222;
            }
            .prititle {
                margin-top: 9px;
                color: #666;
                i {
                    font-style: normal;
                    color: #f70800;
                }
            }
        }
    }
    //今日必抢
    .rob {
        width: 100%;
        height: 372px;
        @include row(space-between);
        .left {
            width: 240px;
            height: 372px;
            background: linear-gradient(to top right, #ff8e4a, #fa4444);
            position: relative;
            .bg {
                width: 210px;
                height: 337px;
                margin: 17px 0 0 15px;
                box-shadow: 0 0 5px rgba(0, 0, 0, .5);
                background: white;
                overflow: hidden;
            }
            ul {
                width: 180px;
                height: 280px;
                overflow: hidden;
                margin: 15px;
                margin-top: 30px;
            }
            li {
                float: left;
            }
            .l {
                width: 47px;
                height: 30px;
                position: absolute;
                background: url(../images/show_bg_l.png) no-repeat;
                left: 11px;
                bottom: 11px;
            }
            .r {
                width: 47px;
                height: 30px;
                position: absolute;
                background: url(../images/show_bg_r.png) no-repeat;
                right: 11px;
                top: 11px;
            }
            .t {
                width: 119px;
                height: 30px;
                position: absolute;
                line-height: 30px;
                border-radius: 0 0 10px 10px;
                background: #aa2424;
                color: #fff;
                left: 20px;
                top: 17px;
                text-align: center;
                .clock {
                    width: 17px;
                    height: 19px;
                    background: url(../images/show_bg_clock.png) no-repeat;
                    background-size: 100%;
                    margin: 5px -5px 0 15px;
                    float: left;
                }
            }
            .b {
                width: 60px;
                height: 60px;
                background: url(../images/show_bg_b.png) no-repeat;
                background-size: 100%;
                position: absolute;
                bottom: 20px;
                right: 12px;
            }
            .txt {
                transform: rotate(13deg);
                position: absolute;
                left: 16px;
                top: 9px;
                color: #eee;
                font-size: 14px;
            }
            img {
                width: 100%;
                height: 100%;
            }
            .title {
                width: 100%;
                height: 42px;
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin: 10px 0 15px 0;
                color: #222;
            }
            .price {
                font-size: 26px;
                margin-right: 10px;
                color: #222;
            }
            s {
                font-size: 14px;
                line-height: 36px;
                color: #666;
            }
        }
        .right {
            width: 745px;
            height: 372px;
            background: #fff;
            border: 1px solid #ddd;
            padding: 15px 10px;
            ul {
                width: 723px;
                height: 340px;
                overflow: hidden;
                li {
                    width: 241px;
                    height: 340px;
                    padding: 0 15px;
                    float: left;
                    border-left: 1px solid #eee;
                    margin-left: -1px;
                }
                .title {
                    width: 100%;
                    height: 42px;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin: 10px 0 15px 0;
                    color: #222;
                }
                .price {
                    font-size: 26px;
                    margin-right: 10px;
                    color: #222;
                }
                s {
                    font-size: 14px;
                    line-height: 36px;
                    color: #666;
                }
                img {
                    width: 210px;
                    height: 210px;
                }
            }
        }
    }
    //惠买优选
    .salelist {
        ul {
            width: 1000px;
            height: 100%;
            @include row(space-between);
            flex-wrap: wrap;
            li {
                width: 320px;
                height: 462px;
                border: 1px solid #ddd;
                background: white;
                margin-bottom: 20px;
            }
            div {
                width: 318px;
                height: 453px;
                padding: 10px;
                img {
                    width: 298px;
                    height: 298px;
                }
                .title {
                    width: 298px;
                    height: 52px;
                    padding: 0 10px;
                    margin-top: 18px;
                    color: #222;
                }
                .small_title {
                    width: 150px;
                    height: 16px;
                    color: #f70800;
                    font-size: 12px;
                    margin-top: 5px;
                    padding: 0 10px;
                    line-height: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .pri {
                width: 298px;
                height: 29px;
                padding: 0 10px 3px 10px;
                font-size: 12px;
                @include row(space-between);
                margin-top: 15px;
            }
            .price {
                font-size: 26px;
                margin-right: 10px;
                color: #222;
            }
            .prititle {
                margin-top: 9px;
                color: #666;
                i {
                    font-style: normal;
                    color: #f70800;
                }
            }
        }
    }
}