@charset "utf-8";
//引入混合宏文件
@import'./mixin/box';
//顶部导航栏
.top {
    width: 100%;
    height: 28px;
    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
    .top_main {
        width: 1000px;
        height: 28px;
        @include row(space-between);
        margin: 0 auto;
        font-size: 12px;
        color: #666;
        position: relative;
    }
    .top_left {
        width: 250px;
        height: 28px;
        span {
            line-height: 28px;
            background: url(../images/icons.png) no-repeat -98px -196px;
            padding-left: 18px;
            float: left;
        }
        ul {
            width: 190px;
            height: 28px;
            float: left;
            position: absolute;
            left: 57px;
            top: 0;
            overflow: hidden;
            li {
                width: 190px;
                height: 28px;
                float: left;
                line-height: 28px;
            }
            li:hover {
                color: #f70800;
                cursor: pointer;
            }
        }
    }
    .top_right {
        width: 420px;
        height: 28px;
        position: relative;
        ul {
            @include row(space-between);
            height: 28px;
        }
        li {
            float: left;
            img {
                width: 9px;
                height: 12px;
            }
        }
        a:hover {
            color: #f70800;
        }
        .app {
            width: 100px;
            height: 120px;
            background: white;
            @include col(space-around);
            font-size: 14px;
            color: red;
            position: absolute;
            right: -20px;
            top: 30px;
            box-shadow: 0 0 5px rgb(17, 17, 17);
            display: none;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}

//头部搜索栏
header {
    background: #FFFFFF;
    main {
        width: 1000px;
        height: 95px;
        margin: 0 auto;
        @include row(space-between);
        color: #666;
        .header_left {
            width: 206px;
            height: 75px;
            margin-top: 20px;
        }
        .header_center {
            font-size: 0;
            .l {
                width: 343px;
                height: 38px;
                line-height: 38px;
                text-indent: 15px;
                color: #999;
                border: solid 3px #f70800;
                font-size: 12px;
                outline: none;
            }
            .r {
                width: 76px;
                height: 38px;
                cursor: pointer;
                background: #f70800;
                color: white;
                line-height: 38px;
                border: none;
                outline: none;
            }
        }
        .header_right {
            width: 183px;
            height: 63px;
            margin-top: 20px;
        }
    }
}

//导航栏
nav {
    width: 100%;
    height: 40px;
    background: #f70800;
    .nav_main {
        width: 1000px;
        height: 40px;
        margin: 0 auto;
    }
    li {
        height: 40px;
        float: left;
        a {
            font-size: 15px;
            color: #fff;
            font-weight: 900;
            line-height: 40px;
            padding: 10px 20px;
            position: relative;
        }
    }
    li:nth-child(1) {
        background: rgba(0, 0, 0, .2);
    }
    li:nth-child(2) a:before {
        content: '';
        // display: block;
        width: 24px;
        height: 24px;
        background: url(../images/icon-tv.png) no-repeat;
        background-size: 100%;
        position: absolute;
        left: 15px;
        top: 10px;
    }
    li:nth-child(2) a {
        padding-left: 45px;
    }
    li:last-child {
        float: right;
        a {
            display: block;
            width: 134px;
            height: 40px;
            color: transparent;
            background: url(../images/searchbar.jpg) no-repeat 0 -65px;
        }
    }
}

//轮播图
.wall {
    width: 100%;
    height: 340px;
}