@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f2f2f2;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  border: none;
}

a {
  text-decoration: none;
  color: #666;
}

.top {
  width: 100%;
  height: 28px;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
}
.top .top_main {
  width: 1000px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 12px;
  color: #666;
  position: relative;
}
.top .top_left {
  width: 250px;
  height: 28px;
}
.top .top_left span {
  line-height: 28px;
  background: url(../images/icons.png) no-repeat -98px -196px;
  padding-left: 18px;
  float: left;
}
.top .top_left ul {
  width: 190px;
  height: 28px;
  float: left;
  position: absolute;
  left: 57px;
  top: 0;
  overflow: hidden;
}
.top .top_left ul li {
  width: 190px;
  height: 28px;
  float: left;
  line-height: 28px;
}
.top .top_left ul li:hover {
  color: #f70800;
  cursor: pointer;
}
.top .top_right {
  width: 420px;
  height: 28px;
  position: relative;
}
.top .top_right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 28px;
}
.top .top_right li {
  float: left;
}
.top .top_right li img {
  width: 9px;
  height: 12px;
}
.top .top_right a:hover {
  color: #f70800;
}
.top .top_right .app {
  width: 100px;
  height: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  color: red;
  position: absolute;
  right: -20px;
  top: 30px;
  box-shadow: 0 0 5px #111111;
  display: none;
  z-index: 1;
}
.top .top_right .app img {
  width: 80px;
  height: 80px;
}

header {
  background: #FFFFFF;
}
header main {
  width: 1000px;
  height: 95px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #666;
}
header main .header_left {
  width: 206px;
  height: 75px;
  margin-top: 20px;
  cursor: pointer;
}
header main .header_center {
  font-size: 0;
}
header main .header_center .l {
  width: 343px;
  height: 38px;
  line-height: 38px;
  text-indent: 15px;
  color: #999;
  border: solid 3px #f70800;
  font-size: 12px;
  outline: none;
}
header main .header_center .r {
  width: 76px;
  height: 38px;
  cursor: pointer;
  background: #f70800;
  color: white;
  line-height: 38px;
  border: none;
  outline: none;
}
header main .header_right {
  width: 183px;
  height: 63px;
  margin-top: 20px;
}

nav {
  width: 100%;
  height: 40px;
  background: #f70800;
}
nav .nav_main {
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
nav .nav_main .mainul li {
  height: 40px;
  float: left;
}
nav .nav_main .mainul li a {
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  line-height: 40px;
  padding: 10px 20px;
  position: relative;
}
nav .nav_main .mainul .newli_bg {
  background: rgba(0, 0, 0, 0.1);
}
nav .nav_main .mainul .navli_bg {
  background: rgba(0, 0, 0, 0.2);
}
nav .nav_main .mainul li:nth-child(2) a:before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../images/icon-tv.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: 15px;
  top: 10px;
}
nav .nav_main .mainul li:nth-child(2) a {
  padding-left: 45px;
}
nav .nav_main .mainul .menu {
  float: right;
  display: block;
  width: 134px;
  height: 40px;
  color: #222;
  background: url(../images/searchbar.jpg) no-repeat 0 -65px;
}
nav .nav_main .mainul .menu:hover {
  background: url(../images/searchbar.jpg) no-repeat 0 -133px;
}
nav article {
  width: 100%;
  height: auto;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: none;
}
nav article .div_box {
  width: 166px;
  height: 300px;
  padding: 0 15px;
  margin-left: -1px;
  border-left: 1px solid #d9d9d9;
}
nav article .div_top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav article .div_top img {
  width: 30px;
  height: 42px;
}
nav article .div_top span {
  display: block;
  height: 42px;
  line-height: 42px;
  margin-top: 5px;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
}
nav article .div_top .span1:hover {
  color: #FF4074;
}
nav article .div_top .span2:hover {
  color: #489FFA;
}
nav article .div_top .span3:hover {
  color: #66BC09;
}
nav article .div_top .span4:hover {
  color: #FF8C38;
}
nav article .div_top .span5:hover {
  color: #FF4074;
}
nav article .div_top .span6:hover {
  color: #49A2FF;
}
nav article .div_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
}
nav article .div_bottom a {
  color: #555;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}
nav article .div_bottom a:hover {
  color: red;
}

.wall {
  width: 100%;
  height: 340px;
}

.main {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.main .title {
  width: 100%;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .title .box {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .title .box div:nth-child(1) {
  width: 4px;
  height: 22px;
  background: #f70800;
  margin-left: 7px;
}
.main .title .box div:nth-child(2) {
  color: #f70800;
  font-size: 26px;
  font-weight: 900;
}
.main .title .box div:nth-child(3) {
  font-size: 24px;
  font-weight: 900;
}
.main .title .box div:nth-child(4) {
  color: #666;
  margin-top: 6px;
}
.main .title a {
  width: 116px;
  height: 34px;
  background: url(../images/节目表.png) no-repeat;
}
.main .show {
  width: 100%;
  height: 318px;
  padding: 19px;
  background: #fff;
  border: 1px solid #ddd;
}
.main .show ul {
  width: 960px;
  height: 278px;
  overflow: hidden;
}
.main .show ul li {
  width: 318px;
  height: 453px;
  border-left: 1px solid #ddd;
  margin-left: -1px;
  padding: 0 10px;
  float: left;
}
.main .show ul div {
  width: 318px;
  height: 453px;
  margin-left: -1px;
}
.main .show ul div img {
  width: 300px;
  height: 160px;
}
.main .show ul div .title {
  width: 298px;
  height: 52px;
  padding: 0 10px;
  margin-top: 18px;
  color: #222;
}
.main .show ul div .small_title {
  width: 150px;
  height: 16px;
  color: #f70800;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .show ul .pri {
  width: 298px;
  height: 29px;
  padding: 0 10px 3px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.main .show ul .price {
  font-size: 26px;
  margin-right: 10px;
  color: #222;
}
.main .show ul .prititle {
  margin-top: 9px;
  color: #666;
}
.main .show ul .prititle i {
  font-style: normal;
  color: #f70800;
}
.main .rob {
  width: 100%;
  height: 372px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .rob .left {
  width: 240px;
  height: 372px;
  background: linear-gradient(to top right, #ff8e4a, #fa4444);
  position: relative;
}
.main .rob .left .bg {
  width: 210px;
  height: 337px;
  margin: 17px 0 0 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: white;
  overflow: hidden;
}
.main .rob .left ul {
  width: 180px;
  height: 280px;
  overflow: hidden;
  margin: 15px;
  margin-top: 30px;
}
.main .rob .left li {
  float: left;
}
.main .rob .left .l {
  width: 47px;
  height: 30px;
  position: absolute;
  background: url(../images/show_bg_l.png) no-repeat;
  left: 11px;
  bottom: 11px;
}
.main .rob .left .r {
  width: 47px;
  height: 30px;
  position: absolute;
  background: url(../images/show_bg_r.png) no-repeat;
  right: 11px;
  top: 11px;
}
.main .rob .left .t {
  width: 119px;
  height: 30px;
  position: absolute;
  line-height: 30px;
  border-radius: 0 0 10px 10px;
  background: #aa2424;
  color: #fff;
  left: 20px;
  top: 17px;
  text-align: center;
}
.main .rob .left .t .clock {
  width: 17px;
  height: 19px;
  background: url(../images/show_bg_clock.png) no-repeat;
  background-size: 100%;
  margin: 5px -5px 0 15px;
  float: left;
}
.main .rob .left .b {
  width: 60px;
  height: 60px;
  background: url(../images/show_bg_b.png) no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 20px;
  right: 12px;
}
.main .rob .left .txt {
  transform: rotate(13deg);
  position: absolute;
  left: 16px;
  top: 9px;
  color: #eee;
  font-size: 14px;
}
.main .rob .left img {
  width: 100%;
  height: 100%;
}
.main .rob .left .title {
  width: 100%;
  height: 42px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 10px 0 15px 0;
  color: #222;
}
.main .rob .left .price {
  font-size: 26px;
  margin-right: 10px;
  color: #222;
}
.main .rob .left s {
  font-size: 14px;
  line-height: 36px;
  color: #666;
}
.main .rob .right {
  width: 745px;
  height: 372px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px 10px;
}
.main .rob .right ul {
  width: 723px;
  height: 340px;
  overflow: hidden;
}
.main .rob .right ul li {
  width: 241px;
  height: 340px;
  padding: 0 15px;
  float: left;
  border-left: 1px solid #eee;
  margin-left: -1px;
}
.main .rob .right ul .title {
  width: 100%;
  height: 42px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 10px 0 15px 0;
  color: #222;
}
.main .rob .right ul .price {
  font-size: 26px;
  margin-right: 10px;
  color: #222;
}
.main .rob .right ul s {
  font-size: 14px;
  line-height: 36px;
  color: #666;
}
.main .rob .right ul img {
  width: 210px;
  height: 210px;
}
.main .salelist ul {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .salelist ul li {
  width: 320px;
  height: 462px;
  border: 1px solid #ddd;
  background: white;
  margin-bottom: 20px;
}
.main .salelist ul div {
  width: 318px;
  height: 453px;
  padding: 10px;
}
.main .salelist ul div img {
  width: 298px;
  height: 298px;
}
.main .salelist ul div .title {
  width: 298px;
  height: 52px;
  padding: 0 10px;
  margin-top: 18px;
  color: #222;
}
.main .salelist ul div .small_title {
  width: 150px;
  height: 16px;
  color: #f70800;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .salelist ul .pri {
  width: 298px;
  height: 29px;
  padding: 0 10px 3px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.main .salelist ul .price {
  font-size: 26px;
  margin-right: 10px;
  color: #222;
}
.main .salelist ul .prititle {
  margin-top: 9px;
  color: #666;
}
.main .salelist ul .prititle i {
  font-style: normal;
  color: #f70800;
}

footer {
  width: 100%;
  height: 535px;
  background: #FFFFFF;
}
footer main {
  width: 1000px;
  height: 535px;
  padding-bottom: 90px;
  background: url(../images/foot_bg.jpg) no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

aside .mask {
  width: 3px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #222222;
  z-index: 2;
}
aside .top {
  width: 36px;
  height: 108px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -72px;
  border: none;
  border-radius: 8px 0 0 8px;
  z-index: 1;
}
aside .top .t {
  width: 36px;
  height: 36px;
  background: url(../images/saide.png) no-repeat;
  cursor: pointer;
}
aside .top .c {
  width: 36px;
  height: 36px;
  background: url(../images/saide.png) no-repeat 0 -92px;
  cursor: pointer;
}
aside .top .b {
  width: 36px;
  height: 36px;
  background: url(../images/saide.png) no-repeat 0 -138px;
  cursor: pointer;
}
aside .bottom {
  width: 36px;
  height: 108px;
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  border-radius: 8px 0 0 8px;
  z-index: 1;
  background: #000;
}
aside .bottom .t {
  width: 36px;
  height: 36px;
  background: url(../images/saide.png) no-repeat 0 -184px;
  cursor: pointer;
}
aside .bottom .c {
  width: 36px;
  height: 36px;
  background: url(../images/saide.png) no-repeat 0 -230px;
  cursor: pointer;
}
aside .bottom .b {
  width: 36px;
  height: 36px;
  background: url(../images/saide.png) no-repeat 0 -276px;
  cursor: pointer;
}

.listwall {
  width: 1000px;
  height: 87px;
  margin: 0 auto;
}

.listmain {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.listmain h1 {
  width: 100%;
  height: 34px;
  line-height: 34px;
  font-size: 26px;
  font-family: "微软雅黑", "黑体";
  color: #333333;
  margin: 26px 0 17px 0;
}
.listmain .list_nav {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 10px;
}
.listmain .list_nav .l {
  width: 390px;
  height: 46px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.listmain .list_nav .l a {
  display: block;
  padding-right: 10px;
  color: #000;
}
.listmain .list_nav .r {
  width: 160px;
  height: 46px;
}
.listmain .list_nav .r div {
  margin-right: 12px;
  font-size: 12px;
  line-height: 46px;
  float: left;
}

.sol ul {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.sol ul li {
  width: 320px;
  height: 462px;
  border: 1px solid #ddd;
  background: white;
  margin-bottom: 20px;
}
.sol ul div {
  width: 318px;
  height: 453px;
  padding: 10px;
}
.sol ul div img {
  width: 298px;
  height: 298px;
}
.sol ul div .title {
  width: 298px;
  height: 52px;
  padding: 0 10px;
  margin-top: 18px;
  color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sol ul .pri {
  width: 298px;
  height: 29px;
  padding: 15px 15px 15px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.sol ul .price {
  font-size: 24px;
  margin-right: 10px;
  color: #222;
}
.sol ul .prititle {
  font-size: 12px;
  margin-top: 9px;
  color: #666;
}
.sol ul .prititle i {
  font-style: normal;
  color: #f70800;
}

.pagediv {
  width: 1000px;
  height: 22px;
  margin: 0 auto 30px auto;
}

.pagebox {
  width: 515px;
  height: 22px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
}
.pagebox a {
  width: 62px;
  height: 22px;
  border: 1px solid #C5C5C5;
}
.pagebox .pagelist {
  width: 240px;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pagebox .pagelist a {
  width: 22px;
  height: 22px;
  border: 1px solid #C5C5C5;
}
.pagebox a:hover {
  border: solid 1px red;
  color: red;
}

/*# sourceMappingURL=index.css.map */
