@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f2f2f2;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  border: none;
}

a {
  text-decoration: none;
  color: #666;
}

.top {
  width: 100%;
  height: 28px;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
}
.top .top_main {
  width: 1000px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 12px;
  color: #666;
  position: relative;
}
.top .top_left {
  width: 250px;
  height: 28px;
}
.top .top_left span {
  line-height: 28px;
  background: url(../images/icons.png) no-repeat -98px -196px;
  padding-left: 18px;
  float: left;
}
.top .top_left ul {
  width: 190px;
  height: 28px;
  float: left;
  position: absolute;
  left: 57px;
  top: 0;
  overflow: hidden;
}
.top .top_left ul li {
  width: 190px;
  height: 28px;
  float: left;
  line-height: 28px;
}
.top .top_left ul li:hover {
  color: #f70800;
  cursor: pointer;
}
.top .top_right {
  width: 420px;
  height: 28px;
  position: relative;
}
.top .top_right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 28px;
}
.top .top_right li {
  float: left;
}
.top .top_right li img {
  width: 9px;
  height: 12px;
}
.top .top_right a:hover {
  color: #f70800;
}
.top .top_right .app {
  width: 100px;
  height: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  color: red;
  position: absolute;
  right: -20px;
  top: 30px;
  box-shadow: 0 0 5px #111111;
  display: none;
}
.top .top_right .app img {
  width: 80px;
  height: 80px;
}

header {
  background: #FFFFFF;
}
header main {
  width: 1000px;
  height: 95px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #666;
}
header main .header_left {
  width: 206px;
  height: 75px;
  margin-top: 20px;
}
header main .header_center {
  font-size: 0;
}
header main .header_center .l {
  width: 343px;
  height: 38px;
  line-height: 38px;
  text-indent: 15px;
  color: #999;
  border: solid 3px #f70800;
  font-size: 12px;
  outline: none;
}
header main .header_center .r {
  width: 76px;
  height: 38px;
  cursor: pointer;
  background: #f70800;
  color: white;
  line-height: 38px;
  border: none;
  outline: none;
}
header main .header_right {
  width: 183px;
  height: 63px;
  margin-top: 20px;
}

nav {
  width: 100%;
  height: 40px;
  background: #f70800;
}
nav .nav_main {
  width: 1000px;
  height: 40px;
  margin: 0 auto;
}
nav li {
  height: 40px;
  float: left;
}
nav li a {
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  line-height: 40px;
  padding: 10px 20px;
  position: relative;
}
nav li:nth-child(1) {
  background: rgba(0, 0, 0, 0.2);
}
nav li:nth-child(2) a:before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../images/icon-tv.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: 15px;
  top: 10px;
}
nav li:nth-child(2) a {
  padding-left: 45px;
}
nav li:last-child {
  float: right;
}
nav li:last-child a {
  display: block;
  width: 134px;
  height: 40px;
  color: transparent;
  background: url(../images/searchbar.jpg) no-repeat 0 -65px;
}

.wall {
  width: 100%;
  height: 340px;
}

.main {
  width: 1000px;
  background: #ccc;
  margin: 0 auto;
  overflow: hidden;
}
.main .title {
  width: 100%;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .title .box {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .title .box div:nth-child(1) {
  width: 4px;
  height: 22px;
  background: #f70800;
  margin-left: 7px;
}
.main .title .box div:nth-child(2) {
  color: #f70800;
  font-size: 26px;
  font-weight: 900;
}
.main .title .box div:nth-child(3) {
  font-size: 24px;
  font-weight: 900;
}
.main .title .box div:nth-child(4) {
  color: #666;
  margin-top: 6px;
}
.main .title a {
  width: 116px;
  height: 34px;
  background: url(../images/节目表.png) no-repeat;
}
.main .show {
  width: 100%;
  height: 318px;
  padding: 19px;
  background: pink;
}
.main .show ul {
  background: white;
}
.main .rob {
  width: 100%;
  height: 372px;
  margin: 12px;
  padding: 19px;
  background: pink;
}
.main .salelist {
  width: 100%;
  margin: 12px;
  padding: 19px;
}
.main .salelist ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .salelist ul li {
  width: 320px;
  height: 462px;
}
.main .salelist ul div {
  padding: 10px;
}
.main .salelist ul img {
  width: 300px;
  height: 300px;
}

footer {
  width: 100%;
  height: 535px;
  padding-bottom: 90px;
  background: yellow;
}

/*# sourceMappingURL=index.css.map */
