.top {
  width: 100%;
  height: 28px;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
}
.top .top_main {
  width: 1000px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 12px;
  color: #666;
  position: relative;
}
.top .top_left {
  width: 250px;
  height: 28px;
}
.top .top_left span {
  line-height: 28px;
  background: url(../images/icons.png) no-repeat -98px -196px;
  padding-left: 18px;
  float: left;
}
.top .top_left ul {
  width: 190px;
  height: 28px;
  float: left;
  position: absolute;
  left: 57px;
  top: 0;
  overflow: hidden;
}
.top .top_left ul li {
  width: 190px;
  height: 28px;
  float: left;
  line-height: 28px;
}
.top .top_left ul li:hover {
  color: #f70800;
  cursor: pointer;
}
.top .top_right {
  width: 420px;
  height: 28px;
  position: relative;
}
.top .top_right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 28px;
}
.top .top_right li {
  float: left;
}
.top .top_right li img {
  width: 9px;
  height: 12px;
}
.top .top_right a:hover {
  color: #f70800;
}
.top .top_right .app {
  width: 100px;
  height: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  color: red;
  position: absolute;
  right: -20px;
  top: 30px;
  box-shadow: 0 0 5px #111111;
  display: none;
  z-index: 1;
}
.top .top_right .app img {
  width: 80px;
  height: 80px;
}

header {
  background: #FFFFFF;
}
header main {
  width: 1000px;
  height: 95px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #666;
}
header main .header_left {
  width: 206px;
  height: 75px;
  margin-top: 20px;
  cursor: pointer;
}
header main .header_center {
  font-size: 0;
}
header main .header_center .l {
  width: 343px;
  height: 38px;
  line-height: 38px;
  text-indent: 15px;
  color: #999;
  border: solid 3px #f70800;
  font-size: 12px;
  outline: none;
}
header main .header_center .r {
  width: 76px;
  height: 38px;
  cursor: pointer;
  background: #f70800;
  color: white;
  line-height: 38px;
  border: none;
  outline: none;
}
header main .header_right {
  width: 183px;
  height: 63px;
  margin-top: 20px;
}

nav {
  width: 100%;
  height: 40px;
  background: #f70800;
}
nav .nav_main {
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
nav .nav_main .mainul li {
  height: 40px;
  float: left;
}
nav .nav_main .mainul li a {
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  line-height: 40px;
  padding: 10px 20px;
  position: relative;
}
nav .nav_main .mainul .newli_bg {
  background: rgba(0, 0, 0, 0.1);
}
nav .nav_main .mainul .navli_bg {
  background: rgba(0, 0, 0, 0.2);
}
nav .nav_main .mainul li:nth-child(2) a:before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../images/icon-tv.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: 15px;
  top: 10px;
}
nav .nav_main .mainul li:nth-child(2) a {
  padding-left: 45px;
}
nav .nav_main .mainul .menu {
  float: right;
  display: block;
  width: 134px;
  height: 40px;
  color: #222;
  background: url(../images/searchbar.jpg) no-repeat 0 -65px;
}
nav .nav_main .mainul .menu:hover {
  background: url(../images/searchbar.jpg) no-repeat 0 -133px;
}
nav article {
  width: 100%;
  height: auto;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: none;
}
nav article .div_box {
  width: 166px;
  height: 300px;
  padding: 0 15px;
  margin-left: -1px;
  border-left: 1px solid #d9d9d9;
}
nav article .div_top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav article .div_top img {
  width: 30px;
  height: 42px;
}
nav article .div_top span {
  display: block;
  height: 42px;
  line-height: 42px;
  margin-top: 5px;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
}
nav article .div_top .span1:hover {
  color: #FF4074;
}
nav article .div_top .span2:hover {
  color: #489FFA;
}
nav article .div_top .span3:hover {
  color: #66BC09;
}
nav article .div_top .span4:hover {
  color: #FF8C38;
}
nav article .div_top .span5:hover {
  color: #FF4074;
}
nav article .div_top .span6:hover {
  color: #49A2FF;
}
nav article .div_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
}
nav article .div_bottom a {
  color: #555;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}
nav article .div_bottom a:hover {
  color: red;
}

.wall {
  width: 100%;
  height: 340px;
}

/*# sourceMappingURL=top.css.map */
